<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartCooler - Admin Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--Кастомные расширенные стили и скрипты-->
    <link rel="stylesheet" type="text/css" href="css/ij-featches.css" />
    <script src="js/ij-custom-lib.js"></script>
    <!--Кастомные расширенные стили и скрипты-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script src="https://use.fontawesome.com/6911172f9c.js"></script>
</head>

<body onload="initpage() ;">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Administration panel</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">

            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> <b id="username"></b><b class="caret"></b>
                </a>
                <script>
                    document.getElementById("username").innerHTML =<%-JSON.stringify(username)%>;
                </script>

                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="devices"><i class="fa fa-fw fa-camera-retro"></i>Мои устройства</a>
                </li>
                <li class="hidden">
                    <a href="devtypes.html"><i class="fa fa-fw fa-table"></i> Типы и атрибуты</a>
                </li>
                <li class="hidden">
                    <a href="templates.html"><i class="fa fa-fw fa-file"></i> Шаблоны устройств</a>
                </li>
                <li class="hidden">
                    <a href="firmware.html"><i class="fa fa-fw fa-inbox"></i> Управление прошивками</a>
                </li>
                <li class="hidden">
                    <a href="administration.html"><i class="fa fa-fw fa-wrench"></i> Администрирование</a>
                </li>
                <li class="hidden">
                    <a href="diagnostic.html"><i class="fa fa-fw fa-desktop"></i> Диагностика</a>
                </li>
                <li class="hidden">
                    <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                </li>
                <li class="hidden">
                    <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                </li>
                <li class="hidden">
                    <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                </li>
                <li class="hidden">
                    <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                </li>
                <li class="hidden">
                    <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                </li>
                <li class="hidden">
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden">
                    <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                </li>
                <li class="hidden">
                    <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Мои устройства <small>Управление</small>
                    </h1>

                </div>
            </div>

            <h1>Динамика подключения устройств</h1>
            <div class="hidden" id="myfirstchart" style="height: 250px;"></div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="devqty"></div>
                                    <div>Количество устройств</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hidden col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hidden col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hidden col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content Device creation-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Создание нового устройства</h4>
                        </div>
                        <div class="modal-body">
                            <form action="\savedevice" method="get">
                                <div class="form-group">
                                    <label for="orgid">Организация:</label>
                                    <input type="text" value="C2M" class="form-control" id="orgid" name="orgid">
                                </div>
                                <div class="form-group">
                                    <label for="devid">Код устройства:</label>
                                    <input type="text" class="form-control" id="devid" name="devid">
                                </div>
                                <div class="form-group">
                                    <label for="devtype">Тип устройства:</label>
                                    <input type="text" value="myType" class="form-control" id="devtype" name="devtype">
                                </div>
                                <button type="submit" class="btn btn-default">Создать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalManageWindow" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content Device Management Window-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Управление устройством: <span id="divOrgDevId" style="font-size: larger"/></h2>
                            <div class="modal-header">

                                <form method="get" action="/updateDeviceParams">
                                <div class="form-group">
                                    <input type="hidden" id="orgDevId" name="orgDevId"/>
                                    <label for="devQtyChange">Введите количество:</label>
                                    <input type="text" class="form-control" id="devQtyChange" name="devQtyChange">
                                </div>
                                    <div class="form-group">
                                        <label for="emailGroup">Группа рассылки:</label>
                                        <textarea class="form-control" id="emailGroup" name="emailGroup" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Название(Местоположение):</label>
                                        <input type="text" class="form-control" id="name" name="name"/>
                                        <label for="lng">Широта:</label>
                                        <input type="text" class="form-control" id="lng" name="lng"/>
                                        <label for="ltd">Долгота:</label>
                                        <input type="text" class="form-control" id="ltd" name="ltd"/>
                                    </div>
                                <button type="submit" class="btn btn-default" onclick="getDeviceName()">Сохранить</button>
                                </form>
                            </div>
                        </div>
                        <script>
                            function getDeviceName() {
                                var device =  document.getElementById("divOrgDevId").innerHTML.split(":")[2]
                                document.getElementById("orgDevId").value = device;
                            }
                        </script>
                        <div class="modal-body">

                            <div class="panel panel-default panel-horizontal">
                                <div class="panel-body">
                                    <button id="releON" type="button" class="btn btn-primary btn-block"
                                            style="height: 200px;"
                                            onClick="TurnReleON();"><h4>Включить <br>  РЕЛЕ</h4></button>
                                </div>
                                <div class="panel-body">
                                    <button id="releOff" type="button" class="btn btn-primary btn-block"
                                            style="height: 200px;"
                                            onClick="TurnReleOff();"><h4>Выключить <br>  РЕЛЕ</h4></button>
                                </div>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-primary btn-block"
                                            style="height: 200px;"
                                            onClick="deleteDevice();"><h4>Удалить <br> устройство</h4></button>
                                </div>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-primary btn-block"
                                            style="height: 200px;"
                                            onClick="DeviceTestConnection();">
                                        <h4>Проверить<br> соединение</h4>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- END of Modal content Device Management Window-->

            <!-- Modal content Device DELETE Window-->
            <div class="modal fade" id="modalDeviceDelete" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content Device delete-->
                    <div class="modal-content" style="width: 800px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Удаление устройства</h2>
                            <div class="container">
                                <h3>Вы уверены что хотите удалить устройство?</h3>

                            </div>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-warning">Отмена</button>
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>

                <div class="col-lg-4" style="width: 100%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Список доступных устройств</h3>
                        </div>
                        <div class="panel-body">

                            <!--<h1>Current roots:</h1><%-JSON.stringify(viewRoot)%>;-->
                            <div class="table-responsive">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Создать устройство</button>
                               <!-- <button type="button" class="btn btn-info btn-lg" onclick="testButton()" >Тестовая кнопка</button>-->

                                <table class="table table-bordered table-hover table-striped" id="tableAddRow">
                                    <thead>
                                    <tr id="row00" class="bg-info">
                                       <!-- <th>Состояние</th>-->
                                        <th>Организация</th>
                                        <th>Код устройства</th>
                                        <th>Тип устройства</th>
                                        <th>Название</th>
                                        <th>Кол-во бутылок</th>
                                        <th>Email</th>
                                        <th>Широта</th>
                                        <th>Долгота</th>
                                        <th>Управление</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                                <script type="application/javascript">
                                    var chart;
                                    var graphdata = [];


                                    document.onload = initDeviceConnectionHistory();
                                    function initpage() {
                                        console.log('page is started');
                                        //$('#row1').addClass('bg-danger');
                                        //document.getElementById("row01").className  = "bg-danger";
                                    }
                                    function TurnReleON() {
                                        var deviceid = document.getElementById("divOrgDevId").innerHTML.split(":")[2]
                                        $.get("/releon?devid="+ deviceid,function(data) {

                                        })
                                        console.log('Device on: ' + deviceid)
                                    }
                                    function TurnReleOff() {
                                        var deviceid = document.getElementById("divOrgDevId").innerHTML.split(":")[2]
                                        $.get("/releoff?devid="+ deviceid ,function(data) {

                                        })
                                        console.log('Device off: ' + deviceid)
                                    }

                                    $(document).ready(function(){
                                        getUserDevices(<%-JSON.stringify(username)%>);
                                        console.log('ready function');
                                        setTimeout(function () {
                                            $('#row1').addClass('bg-danger');
                                        }, 1000);
                                        //$('#row2').addClass('bg-danger');
                                        //document.getElementById("row0").className  = "bg-success";
                                     ;
                                    });
                                </script>
                            </div>
                            <div class="text-right">
                                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>


</body>

</html>
